NOTIFICATION_DB_URL=jdbc:mysql://localhost:3306/notificationdb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
NOTIFICATION_DB_USERNAME=root
NOTIFICATION_DB_PASSWORD=change-me
NOTIFICATION_DB_DRIVER=com.mysql.cj.jdbc.Driver
NOTIFICATION_JPA_DDL_AUTO=update
NOTIFICATION_JPA_SHOW_SQL=true

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
