.idea/
.vscode/
.m2/

*.log
*.out
*.err

.env
.env.*
!*.env.example
**/.env
**/.env.*
!**/.env.example

**/target/
**/build/
**/out/

**/.settings/
**/.classpath
**/.project
**/.factorypath
**/*.iml

export-service/exports/
resume-service/resume-run.err
resume-service/resume-run.out
ai-service/ai-run.err
ai-service/ai-run.out
/.metadata/
