RESUME_DB_URL=jdbc:mysql://localhost:3306/resumedb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
RESUME_DB_USERNAME=root
RESUME_DB_PASSWORD=change-me
RESUME_DB_DRIVER=com.mysql.cj.jdbc.Driver
RESUME_JPA_DDL_AUTO=update
RESUME_JPA_SHOW_SQL=true

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
