SECTION_DB_URL=jdbc:mysql://localhost:3306/sectiondb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SECTION_DB_USERNAME=root
SECTION_DB_PASSWORD=change-me
SECTION_DB_DRIVER=com.mysql.cj.jdbc.Driver
SECTION_JPA_DDL_AUTO=update
SECTION_JPA_SHOW_SQL=true
