JOBMATCH_DB_URL=jdbc:mysql://localhost:3306/jobmatchdb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
JOBMATCH_DB_USERNAME=root
JOBMATCH_DB_PASSWORD=change-me
JOBMATCH_DB_DRIVER=com.mysql.cj.jdbc.Driver
JOBMATCH_JPA_DDL_AUTO=update
JOBMATCH_JPA_SHOW_SQL=true
