TEMPLATE_DB_URL=jdbc:mysql://localhost:3306/templatedb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
TEMPLATE_DB_USERNAME=root
TEMPLATE_DB_PASSWORD=change-me
TEMPLATE_DB_DRIVER=com.mysql.cj.jdbc.Driver
TEMPLATE_JPA_DDL_AUTO=update
TEMPLATE_JPA_SHOW_SQL=true
