EXPORT_DB_URL=jdbc:mysql://localhost:3306/exportdb?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
EXPORT_DB_USERNAME=root
EXPORT_DB_PASSWORD=change-me
EXPORT_DB_DRIVER=com.mysql.cj.jdbc.Driver
EXPORT_JPA_DDL_AUTO=update
EXPORT_JPA_SHOW_SQL=true

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

RESUME_SERVICE_URL=http://localhost:8082
SECTION_SERVICE_URL=http://localhost:8083
EXPORT_DOWNLOAD_BASE_URL=http://localhost:8080
